@charset "utf-8";
*{
    font-family:Arial,helvetica,verdana;	
}
body{
	background-image:url("../img/Borroso.jpg");
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}
body:before{
	content: "";
    position: absolute;
    height: 20%; 
    width: 20%;
	background-image:url("../img/Borroso.jpg");
	filter:blur(40px);
	z-index: -1;
    -webkit-transform: scale(5);
    -webkit-transform-origin: top left;
}
form{
	padding:20px;
}
.boton{
	margin:5px;
}
.links{
    text-decoration:none;
	font-family:Arial,helvetica,verdana;
}
h1{
	font-family:Arial,helvetica,verdana;
}
h2{
	font-family:Arial,helvetica,verdana;
}
h3{
	font-family:Arial,helvetica,verdana;
}
h4{
	font-family:Arial,helvetica,verdana;
}
h5{
	font-family:Arial,helvetica,verdana;
}
h6{
	font-family:Arial,helvetica,verdana;
}
#h1Inicio{
	font-family:Cursive;
}
#fondoCentral{
	background-image:url("../img/fondo1.jpg");
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	
}
table{
	font-weight:bold;
}
.scrol{
	overflow:scroll;
	height:300px;
}
.scrol2{
	overflow:scroll;
	height:500px;
}

.Anuncio{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: large;
	text-align: center;
}